<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#123f92">

<link rel="icon" href="{{ '/assets/img/logo.svg' | relative_url }}" type="image/svg+xml">
<link rel="icon" href="{{ '/assets/img/favicon.png' | relative_url }}" sizes="any">
<link rel="apple-touch-icon" href="{{ '/assets/img/favicon.png' | relative_url }}">

<link rel="preload" href="{{ '/assets/css/style.css' | relative_url }}" as="style">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

{% seo %}
